@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html {
    font-size: 100px;
}

body {
    line-height: $base-line-height;
    color: $font-color;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    margin: 0 auto;
}

.title * {
    color: $font-color;
    font-family: 'Roboto Slab', serif;
    margin-left: auto;
}

.title p {
    font-style: italic;
    color: $font-color;
}

.header {
    max-height: fit-content;
    background-color: $background-color-dark;
}

.site-header {
    display: flex;
    padding-left: 20px;
    justify-items: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title {
    margin-left: 50px;
}

.logo img {
    max-width: 150px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8em 5%;
}

.footer a {
    margin-top: 2em;
    text-decoration: none;
}

.footer .social {
    font-size: 5rem;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: $accent-color;
    display: flex;
    justify-content: flex-end;
}

.nav li:hover {
    background-color: $background-color;
}

.nav a {
    display: block;
    color: $font-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav-toggle {
    display: none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul li {
    padding: 0 1em;
}

@media (min-width: 10em) {
    html {
        font-size: 112.5%;
    }
}
