{% include "incl/header.twig" %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="gallery-page">
            {{ content }}
        </div>
    </div>
</body>

{% include "incl/footer.twig" %}
